In [2]:
import pandas as pd
df = pd.read_csv('QueryResults.csv', header=0, names=['DATE', 'TAG', 'POSTS'])

In [3]:
df.head()

                  DATE         TAG  POSTS
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124

In [4]:
df.tail()

                     DATE    TAG  POSTS
1986  2020-07-01 00:00:00      r   5694
1987  2020-07-01 00:00:00     go    743
1988  2020-07-01 00:00:00   ruby    775
1989  2020-07-01 00:00:00   perl    182
1990  2020-07-01 00:00:00  swift   3607

In [5]:
df.shape

(1991, 3)

In [9]:
df['DATE'].count()

1991

In [17]:
df['DATE'].value_counts()

2015-11-01 00:00:00    14
2012-12-01 00:00:00    14
2011-04-01 00:00:00    14
2014-06-01 00:00:00    14
2015-08-01 00:00:00    14
                       ..
2008-09-01 00:00:00    12
2008-12-01 00:00:00    12
2008-08-01 00:00:00    11
2008-10-01 00:00:00    11
2008-07-01 00:00:00     1
Name: DATE, Length: 145, dtype: int64