In [2]:
import pandas as pd
df = pd.read_csv('QueryResults.csv', header=0, names=['DATE', 'TAG', 'POSTS'])

In [3]:
df.head()

                  DATE         TAG  POSTS
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124

In [4]:
df.tail()

                     DATE    TAG  POSTS
1986  2020-07-01 00:00:00      r   5694
1987  2020-07-01 00:00:00     go    743
1988  2020-07-01 00:00:00   ruby    775
1989  2020-07-01 00:00:00   perl    182
1990  2020-07-01 00:00:00  swift   3607

In [5]:
df.shape

(1991, 3)

In [9]:
df['DATE'].count()

1991

In [17]:
df['DATE'].value_counts()

2015-11-01 00:00:00    14
2012-12-01 00:00:00    14
2011-04-01 00:00:00    14
2014-06-01 00:00:00    14
2015-08-01 00:00:00    14
                       ..
2008-09-01 00:00:00    12
2008-12-01 00:00:00    12
2008-08-01 00:00:00    11
2008-10-01 00:00:00    11
2008-07-01 00:00:00     1
Name: DATE, Length: 145, dtype: int64

In [18]:
df.count()

DATE     1991
TAG      1991
POSTS    1991
dtype: int64

In [20]:
df.head()

                  DATE         TAG  POSTS
0  2008-07-01 00:00:00          c#      3
1  2008-08-01 00:00:00    assembly      8
2  2008-08-01 00:00:00  javascript    162
3  2008-08-01 00:00:00           c     85
4  2008-08-01 00:00:00      python    124

In [52]:
groupby_tag = df.groupby('TAG').count()
groupby_tag

            DATE  POSTS
TAG
assembly     144    144
c            144    144
c#           145    145
c++          144    144
delphi       144    144
go           129    129
java         144    144
javascript   144    144
perl         144    144
php          144    144
python       144    144
r            142    142
ruby         144    144
swift        135    135

In [56]:
groupby_tag_sum = df.groupby('TAG').sum()
print(f"Total number of Posts as per the programming Languages are:\n{groupby_tag_sum}")

Total number of Posts as per the programming Languages are:
              POSTS
TAG
assembly      34852
c            336042
c#          1423530
c++          684210
delphi        46212
go            47499
java        1696403
javascript  2056510
perl          65286
php         1361988
python      1496210
r            356799
ruby         214582
swift        273055

In [62]:
print(f"{groupby_tag_sum['POSTS'].idxmax()}")

javascript

In [63]:
print(f"{groupby_tag_sum['POSTS'].idxmin()}")

assembly

In [50]:
groupby_date = df.groupby('DATE').count()
print(f'{groupby_date.head()}\n{groupby_date.tail()}')

                     TAG  POSTS
DATE
2008-07-01 00:00:00    1      1
2008-08-01 00:00:00   11     11
2008-09-01 00:00:00   12     12
2008-10-01 00:00:00   11     11
2008-11-01 00:00:00   12     12
                     TAG  POSTS
DATE
2020-03-01 00:00:00   14     14
2020-04-01 00:00:00   14     14
2020-05-01 00:00:00   14     14
2020-06-01 00:00:00   14     14
2020-07-01 00:00:00   14     14

In [51]:
groupby_date['POSTS'].idxmax()

'2009-11-01 00:00:00'

In [ ]:
#Data Cleaning: Working with Time Stamps

In [66]:
type(df.DATE[1])

str

In [67]:
df.DATE[1]

'2008-08-01 00:00:00'

In [68]:
df.DATE = pd.to_datetime(df.DATE)

In [69]:
df.head()

        DATE         TAG  POSTS
0 2008-07-01          c#      3
1 2008-08-01    assembly      8
2 2008-08-01  javascript    162
3 2008-08-01           c     85
4 2008-08-01      python    124

In [71]:
type(df.DATE[1])

pandas._libs.tslibs.timestamps.Timestamp

In [72]:
#Data Manipulation: Pivoting DataFrames

In [83]:
reshaped_df = df.pivot(index='DATE', columns='TAG', values='POSTS')
print(f"Head:\n{reshaped_df.head()}\nTail:\n{reshaped_df.tail()}")

Head:
TAG         assembly      c      c#    c++  delphi  go    java  javascript  \
DATE
2008-07-01       NaN    NaN     3.0    NaN     NaN NaN     NaN         NaN
2008-08-01       8.0   85.0   511.0  164.0    14.0 NaN   222.0       162.0
2008-09-01      28.0  321.0  1649.0  755.0   105.0 NaN  1137.0       640.0
2008-10-01      15.0  303.0  1989.0  811.0   112.0 NaN  1153.0       725.0
2008-11-01      17.0  259.0  1730.0  735.0   141.0 NaN   958.0       579.0

TAG          perl    php  python    r   ruby  swift
DATE
2008-07-01    NaN    NaN     NaN  NaN    NaN    NaN
2008-08-01   28.0  161.0   124.0  NaN   73.0    NaN
2008-09-01  131.0  482.0   542.0  6.0  290.0    NaN
2008-10-01  127.0  617.0   510.0  NaN  249.0    NaN
2008-11-01   97.0  504.0   452.0  1.0  160.0    NaN
Tail:
TAG         assembly       c       c#     c++  delphi     go     java  \
DATE
2020-03-01     317.0  2670.0   8954.0  5107.0   181.0  719.0  13253.0
2020-04-01     406.0  3472.0  10042.0  6820.0   250.0  887.0  15377.0
2020-05-01     386.0  3602.0   9923.0  7063.0   221.0  826.0  14711.0
2020-06-01     363.0  2757.0   9064.0  6161.0   214.0  765.0  13015.0
2020-07-01     298.0  2294.0   9145.0  5756.0   212.0  743.0  12723.0

TAG         javascript   perl     php   python       r   ruby   swift
DATE
2020-03-01     20483.0  215.0  6672.0  26673.0  5761.0  780.0  3434.0
2020-04-01     24634.0  240.0  8060.0  32605.0  7047.0  860.0  4015.0
2020-05-01     25196.0  228.0  7917.0  34478.0  6833.0  774.0  4066.0
2020-06-01     23360.0  203.0  7188.0  31817.0  6249.0  670.0  3733.0
2020-07-01     23802.0  182.0  7334.0  31261.0  5694.0  775.0  3607.0

In [81]:
reshaped_df.shape

(145, 14)

In [82]:
df.shape

(1991, 3)

In [ ]:
reshaped_df.fillna(0, inplace=T)